*{
	box-sizing:border-box;
}

.title {
  text-align: center;
  margin: 0;
  padding: 50px;
  font-size: 100;
}

body {
  background-color: #69b9ff;
  margin: 0;
  /* display:flex; */
	align-items:center;
	justify-content: center;
	/* height:100vh; */
	/* overflow:hidden; */
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}

.container{
	width:500px;
	height:500px;
	background-color: white;
	border-radius:50%;
	border:15px solid black;
	position: relative;
	overflow: hidden;
	transition: 5s;
  margin: auto;
}

.container div{
	height:50%;
	width:200px;
	position: absolute;
	clip-path: polygon(100% 0 , 50% 100% , 0 0 );
	transform:translateX(-50%);
	transform-origin:bottom;
	text-align:center;
	display:flex;
	align-items: center;
	justify-content: center;
	font-size:20px;
	font-weight:bold;
	font-family:sans-serif;
	color:#fff;
	left:135px;
  margin: auto;
}

.container .one{
	background-color: #5dd467;
	left:50%;
  writing-mode: vertical-lr;
}
.container .two{
	background-color: orange;
	transform: rotate(45deg);
  writing-mode: vertical-lr;
}
.container .three{
	background-color: #e91e63;
	transform:rotate(90deg);
  writing-mode: vertical-lr;
}
.container .four{
	background-color: black;
	transform: rotate(135deg);
  writing-mode: vertical-lr;
}
.container .five{
	background-color: #8ea09d;
	transform: rotate(180deg);
  writing-mode: vertical-lr;
}
.container .six{
	background-color: #3c99c4;
	transform: rotate(225deg);
  writing-mode: vertical-lr;
}
.container .seven{
	background-color: rgb(151, 151, 206);
	transform: rotate(270deg);
  writing-mode: vertical-lr;
}
.container .eight{
	background-color: #f44336;
	transform: rotate(315deg);
  writing-mode: vertical-lr;
}

.arrow{
	position: absolute;
	top:0;
	left:50%;
	transform: translate(-50%, 680%);
	color:#fff;
}

.arrow::before{
	content:"\1F817";
	font-size:50px;
}

#button {
  display: block;
  border-radius: 50%;
  color: white;
  background-color: black;
  width: 100px;
  height: 100px;
  text-align: center;
  /* margin: -50px 0 0 -50px; */
	position: absolute;
	top:50%;
	left:50%;
	transform:translate(-50%, 400%);
	z-index:10;
	text-transform: uppercase;
	font-weight:bold;
	font-size:20px;
	font-family: sans-serif;
	cursor: pointer;
	outline:none;
	letter-spacing: 1px;
}

.buttonStart {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  color: white;
  background-color: green;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.buttonStart:hover {
  background-color: green;
}

.buttonStart:active {
  background-color: green;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#item1 {
  background-color: lightgreen;
  border: black solid 5px;
  margin: 10px;
  text-align: center;
  padding: 50px 30px;
  font-size: larger;
  height: 130px;
  width: 90px;
}

#item2 {
  background-color: lightgreen;
  border: black solid 5px;
  margin: 10px;
  text-align: center;
  padding: 50px 30px;
  font-size: larger;
  height: 130px;
  width: 90px;
}

#item3 {
  background-color: lightgreen;
  border: black solid 5px;
  margin: 10px;
  text-align: center;
  padding: 50px 30px;
  font-size: larger;
  height: 130px;
  width: 90px;
}

#item4 {
  background-color: lightgreen;
  border: black solid 5px;
  margin: 10px;
  text-align: center;
  padding: 50px 30px;
  font-size: larger;
  height: 130px;
  width: 90px;
}

#item5 {
  background-color: lightgreen;
  border: black solid 5px;
  margin: 10px;
  text-align: center;
  padding: 50px 30px;
  font-size: larger;
  height: 130px;
  width: 90px;
}

#item6 {
  background-color: lightgreen;
  border: black solid 5px;
  margin: 10px;
  text-align: center;
  padding: 50px 30px;
  font-size: larger;
  height: 130px;
  width: 90px;
}

#item7 {
  background-color: lightgreen;
  border: black solid 5px;
  margin: 10px;
  text-align: center;
  padding: 50px 30px;
  font-size: larger;
  height: 130px;
  width: 90px;
}

#item8 {
  background-color: lightgreen;
  border: black solid 5px;
  margin: 10px;
  text-align: center;
  padding: 50px 30px;
  font-size: larger;
  height: 130px;
  width: 90px;
}

#item9 {
  background-color: lightgreen;
  border: black solid 5px;
  margin: 10px;
  text-align: center;
  padding: 50px 30px;
  font-size: larger;
  height: 130px;
  width: 90px;
}

#item10 {
  background-color: lightgreen;
  border: black solid 5px;
  margin: 10px;
  text-align: center;
  padding: 50px 30px;
  font-size: larger;
  height: 130px;
  width: 90px;
}

#item11 {
  background-color: lightgreen;
  border: black solid 5px;
  margin: 10px;
  text-align: center;
  padding: 50px 30px;
  font-size: larger;
  height: 130px;
  width: 90px;
}

#item12 {
  background-color: lightgreen;
  border: black solid 5px;
  margin: 10px;
  text-align: center;
  padding: 50px 30px;
  font-size: larger;
  height: 130px;
  width: 90px;
}

#item13 {
  background-color: lightgreen;
  border: black solid 5px;
  margin: 10px;
  text-align: center;
  padding: 50px 30px;
  font-size: larger;
  height: 130px;
  width: 90px;
}

#item14 {
  background-color: lightgreen;
  border: black solid 5px;
  margin: 10px;
  text-align: center;
  padding: 50px 30px;
  font-size: larger;
  height: 130px;
  width: 90px;
}

#item15 {
  background-color: lightgreen;
  border: black solid 5px;
  margin: 10px;
  text-align: center;
  padding: 50px 30px;
  font-size: larger;
  height: 130px;
  width: 90px;
}

#item16 {
  background-color: lightgreen;
  border: black solid 5px;
  margin: 10px;
  text-align: center;
  padding: 50px 30px;
  font-size: larger;
  height: 130px;
  width: 90px;
}

#item17 {
  background-color: lightgreen;
  border: black solid 5px;
  margin: 10px;
  text-align: center;
  padding: 50px 30px;
  font-size: larger;
  height: 130px;
  width: 90px;
}

#item18 {
  background-color: lightgreen;
  border: black solid 5px;
  margin: 10px;
  text-align: center;
  padding: 50px 30px;
  font-size: larger;
  height: 130px;
  width: 90px;
}

#item19 {
  background-color: lightgreen;
  border: black solid 5px;
  margin: 10px;
  text-align: center;
  padding: 50px 30px;
  font-size: larger;
  height: 130px;
  width: 90px;
}

#item20 {
  background-color: lightgreen;
  border: black solid 5px;
  margin: 10px;
  text-align: center;
  padding: 50px 30px;
  font-size: larger;
  height: 130px;
  width: 90px;
}

#item21 {
  background-color: lightgreen;
  border: black solid 5px;
  margin: 10px;
  text-align: center;
  padding: 50px 30px;
  font-size: larger;
  height: 130px;
  width: 90px;
}

#item22 {
  background-color: lightgreen;
  border: black solid 5px;
  margin: 10px;
  text-align: center;
  padding: 50px 30px;
  font-size: larger;
  height: 130px;
  width: 90px;
}

#item23 {
  background-color: lightgreen;
  border: black solid 5px;
  margin: 10px;
  text-align: center;
  padding: 50px 30px;
  font-size: larger;
  height: 130px;
  width: 90px;
}

#item24 {
  background-color: lightgreen;
  border: black solid 5px;
  margin: 10px;
  text-align: center;
  padding: 50px 30px;
  font-size: larger;
  height: 130px;
  width: 90px;
}

#item25 {
  background-color: lightgreen;
  border: black solid 5px;
  margin: 10px;
  text-align: center;
  padding: 50px 30px;
  font-size: larger;
  height: 130px;
  width: 90px;
}

#item26 {
  background-color: lightgreen;
  border: black solid 5px;
  margin: 10px;
  text-align: center;
  padding: 50px 30px;
  font-size: larger;
  height: 130px;
  width: 90px;
}

#item27 {
  background-color: lightgreen;
  border: black solid 5px;
  margin: 10px;
  text-align: center;
  padding: 50px 30px;
  font-size: larger;
  height: 130px;
  width: 90px;
}

#item28 {
  background-color: lightgreen;
  border: black solid 5px;
  margin: 10px;
  text-align: center;
  padding: 50px 30px;
  font-size: larger;
  height: 130px;
  width: 90px;
}

tr.tableRow {
  margin: 0 200px;
}

table.table {
  margin: 0 auto 0 auto;
}

input {
  display: inline-block;
}

#points {
  color: black;
  margin: 30px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  height: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

